<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @output.each do |output|%>

  Book ID: <%=output%>
  </br>
  Date of Creation: <%=output%>
  </br>
  Title: <%=output%>
  </br>
  Author: <%=output%>
  </br>
  
</br>
<%end%>
